body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.body .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70px;
    background-color: #c5c3c3;
}
.body .sidebar .top {
    flex: 1;
    padding-top: 30px;
}

.body .sidebar .bottom {
padding-bottom:30px
}

.body .sidebar>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body .sidebar button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;

}

.body .sidebar button:hover {
    cursor: pointer;
    background: #aca8a8;
    color: #505050;
}

.contents {
    flex: 1;
    width: 100%;
}

.body .contents .profile{
    margin-top: 30px;
}

.body .contents .profile>span {
    font-weight: 900;
    font-size: 25px;
    padding: 15px 15px;
}

.body .contents .profile .detail {
    padding: 15px 15px;
    display: flex;
    align-items: center;
}

.body .contents .profile .detail img {
    border-radius: 20px;
    width: 60px;    
}

.body .contents .profile .detail span {
    flex: 1;
    margin-left: 15px;
    font-weight: 800;
}

.body .contents hr {
    width: 98%;
    color: #ddd;
}

.body .contents .list>span {
    padding: 15px 15px;
    color: #9c9191;
}

.body .contents .list .detail {
    padding: 15px 15px;
    display: flex;
    align-items: center;
}

.body .contents .list .detail img {
    border-radius: 15px;
    width: 45px;    
}

.body .contents .list .detail span {
    flex: 1;
    margin-left: 15px;
    font-weight: 800;
}

.body .contents .list .friend {
    flex-basis: 100%;
}

.music {
    border-color: #0ab83e;
    background-color: #ffffff;
    font-size: 15px;
    border-radius: 15px;
    padding: 5px;
}










.ad {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ddd;
}